.loader {
    width: 80px;
    height: 80px;
    margin: 200px auto 0;

    border: 8px solid var(--color-accent-700);
    border-top: 8px solid transparent; // верхняя граница будет прозрачной
    border-radius: 50%;

    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*
- индикатор будет иметь размер 80x80 пикселей, цвет границы будет var(--color-accent-700),
а верхняя граница будет прозрачной, создавая впечатление вращения. Анимация spin приводит к вращению круга
в течение 0.7 секунд с линейной интерполяцией и повторяется бесконечно.
 */
