html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

a {
  text-decoration: none;
}

a,
input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  background: none;
  border: none;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

input:-webkit-autofill {
  background-clip: text;
}

p,
button {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;

  &:hover {
    border: none;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;

  font-style: normal;
  line-height: 24px;

  color: var(--color-light-100);

  background-color: var(--color-dark-900);
}

.container {
  max-width: 1024px; // добавляем к ширине padding - 12рх: 1100 рх ширина + 12рх т.к у нас border-box стоит
  margin: 0 auto;
  padding: 0 12px;
}
