// все шрифты проекта
:root {
    --font-family-primary: 'Roboto', sans-serif;

    // line heights - 2 тире, например: --line-height-xs: 1rem; --> это объявление переменной - используем ее в др.файле через var
    --line-height-xs: 1rem; // 16px
    --line-height-s: 21.28px; // 1.33rem
    --line-height-m: 24px; // 1.5rem
    --line-height-l: 27.36px; // 1.71rem
    --line-height-xl: 28.8px; // 1.8rem
    --line-height-xxl: 36px; // 2.25rem

    // font sizes (размер текста)
    --font-size-xs: 12px; // 0.75rem
    --font-size-s: 14px; // 0.875rem
    --font-size-m: 16px; // 1rem
    --font-size-l: 18px; // 1.125rem
    --font-size-xl: 20px; // 1.25rem
    --font-size-xxl: 26px; // 1.625rem

    // font weights - дефолтные
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/*
- Единица rem соответствует значению свойства font-size корневого элемента <html>.
Если rem добавляется непосредственно к font-size для <html> или стиль для <html>
не задан, тогда 1rem принимается равным исходному значению font-size.
В браузерах по умолчанию 1rem = 16px.
- Все переменные в :root  -- будут доступны всем ниже лежащим элементам они у нас на
верхнем уровне нашего приложения
 */
