// все шрифты проекта
:root {
    --font-family-primary: 'Roboto', sans-serif;

    // line heights
    --line-height-xs: 1rem; // 16px
    --line-height-s: 1.33rem;
    --line-height-m: 1.5rem;
    --line-height-l: 1.71rem;
    --line-height-xl: 1.8rem;
    --line-height-xxl: 2.25rem;

    // font sizes (размер текста)
    --font-size-xs: 0.75rem; // 12 px
    --font-size-s: 0.875rem; // 14 px
    --font-size-m: 1rem; // 16 px
    --font-size-l: 1.125rem; // 18 px
    --font-size-xl: 1.25rem; // 20 px
    --font-size-xxl: 1.625rem; // 26 px

    // font weights - дефолтные
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/*
- Единица rem соответствует значению свойства font-size корневого элемента <html>.
Если rem добавляется непосредственно к font-size для <html> или стиль для <html>
не задан, тогда 1rem принимается равным исходному значению font-size.
В браузерах по умолчанию 1rem = 16px.
- Все переменные в :root  -- будут доступны всем ниже лежащим элементам они у нас на
верхнем уровне нашего приложения
 */
