// все шрифты проекта
:root {
    --font-family-primary: 'Roboto', sans-serif;

    // line heights
    --line-height-s-16px: 16px;
    --line-height-m-24px: 24px;
    --line-height-l-36px: 36px;

    // font sizes (размер текста)
    --font-size-xs-12px: 0.75rem;
    --font-size-s-14px: 0.875rem;
    --font-size-m-16px: 1rem;
    --font-size-l-18px: 1.125rem;
    --font-size-xl-20px: 1.25rem;
    --font-size-xxl-26px: 1.625rem;

    // font weights - дефолтные
    --font-weight-regular-400: 400;
    --font-weight-bold-700: 700;
}
