@forward 'colors';
@forward 'typography';
@forward 'reset';

// Стили с темой приложения
body {
    font-family: var(--font-family-primary);
    line-height: var(--line-height-m);
    color: var(--color-light-100);

    // Цвет фона - тема - приложения
    background-color: var(--color-dark-900);
}

/*
- index.scss точка входа для стилей приложения
- через var, например: var(--font-family-primary) - мы используем переменную которая объявлена в др.файле через 2 тире вот так:
--line-height-xs: 1rem;
_______________________________________________________________________________________________________________________________
 */

/**
Можно называть переменные для удобства как в материал:
- primary- для основных элементов интерфейса.
- secondary- для вторичных элементов интерфейса.
- error- для элементов, о которых пользователь должен быть осведомлен.
- warning- за потенциально опасные действия или важные сообщения.
- info- для выделения нейтральной информации.
success- для индикации успешного завершения действия, инициированного пользователем.
 */
