.form_container {
  max-width: 420px;
  margin: 96px auto 0;
  padding: 0 12px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
    justify-content: flex-start;
  }

  .link_container {
    text-align: right;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: var(--color-light-700);
      }
    }
  }

  .register_buttonAsLink {
    display: flex;
    flex-direction: column;
    gap: 7px 0;
    align-items: center;
    justify-content: flex-start;

    .signUp {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
