.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 456px;
  margin: 100px auto;
  padding: 33px 36px 30px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
}

.title {
  margin-bottom: 51px;
  color: var(--color-light-100);
}

.input {
  width: 100%;
  margin-bottom: 2px;
}

.info {
  margin: 25px 0 65px;
  color: var(--color-dark-100);
}

.buttonText {
  color: var(--color-light-100);
}

.button {
  margin-bottom: 20px;
}

.sub {
  margin-bottom: 11px;
}

.tryLog {
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-accent-500);

  &:hover {
    text-decoration: underline;
  }
}
