.singUpPage {
    .container {
        max-width: 420px;
        margin: 0 auto; // центрируем контейнер
        padding-inline: 12px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        align-items: center;
        justify-content: flex-start;

        .form {
            align-self: stretch;
        }

        .login {
            display: flex;
            flex-direction: column;
            gap: 7px 0;
            align-items: center;
            justify-content: flex-start;

            .signIn {
                text-decoration: none; // удаляем подчеркивание с ссылки

                &:hover {
                    // применяет подчеркивание к тексту внутри элемента.
                    // Это свойство используется для стилизации текста как гиперссылки
                    text-decoration: underline;
                }
            }
        }
    }
}
