.deckForm {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  align-items: stretch;
  justify-content: flex-start;

  .image {
    aspect-ratio: 4/1;
    width: 100%;
    margin: 0 auto;

    object-fit: cover;
    border-radius: 2px;
  }

  .imageControls {
    display: flex;
    flex-direction: row;
    gap: 0 24px;
    align-items: center;
    justify-content: space-between;

    button {
      flex-grow: 1;
    }
  }

  .imgIcon {
    fill: var(--color-light-100);
  }

  .controls {
    display: flex;
    flex-direction: row;
    gap: 0 0;
    align-items: center;
    justify-content: space-between;
  }
}

.error {
  color: var(--color-danger-300);
}
