// Слова, часто используемые в CSS-классах:
// https://github.com/yoksel/common-words

.header {
    position: fixed; // фиксированная шапка - Header
    z-index: 100;

    // прижали Header к верху экрана на всю ширину
    top: 0;
    right: 0;
    left: 0;

    // ширину Header не ограничиваем - значит на весь экран
    min-height: 65px;

    background-color: var(--color-dark-700);
    border-bottom: 1px solid var(--color-dark-500);

    .header_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 12px;
        padding-bottom: 12px;

        .link {
            transform: translateX(-4px);

            display: grid;
            place-items: center;

            width: 124px;
            height: 46px;

            border-radius: 23px;
            outline: 2px solid transparent;

            transition: 0.3s;

            &:hover {
                filter: drop-shadow(0 0 4px var(--color-accent-500));
            }

            &:focus-visible {
                outline: 2px solid var(--color-info-700);
            }

            .icon {
                cursor: pointer;
            }
        }
    }

    .user {
        display: flex;
        flex-direction: row;
        gap: 0 14px;
        align-items: center;
        justify-content: flex-start;

        .name {
            text-decoration: none;
            border-bottom: 2px dashed var(--color-light-100);
            outline: none;
            transition: 0.3s;

            &:hover {
                color: var(--color-accent-100);
                border-bottom-color: var(--color-accent-100);
            }

            &:active {
                color: var(--color-accent-300);
                border-bottom-color: var(--color-accent-300);
            }

            &:focus-visible {
                color: var(--color-info-300);
                border-bottom-color: var(--color-info-300);
            }
        }

        .dropdownButton {
            all: unset;

            cursor: pointer;

            width: 48px;
            height: 48px;

            border-radius: 50%;
            outline: 2px solid transparent;

            transition: 0.3s;

            &:hover {
                filter: drop-shadow(0 0 6px var(--color-accent-100));
            }

            &:focus-visible {
                outline: 2px solid var(--color-info-700);
            }
        }
    }
}
