.form {
    align-self: stretch; // элемент будет растягиваться по всей доступной высоте контейнера.

    .email,
    .password {
        margin-bottom: 24px;
    }

    .button {
        margin-top: 60px;
    }
}
