@import '../../../app/styles/mixins';

.root {
    // @include flex(row, 24px, 24px, center);
    display: flex;
    flex-direction: row;
    gap: 24px 24px;
    align-items: center;
    justify-content: flex-start;

    .dots {
        display: grid;
        place-items: center;

        width: 24px;
        height: 24px;

        color: var(--color-light-100);
    }

    .selectBlock {
        // @include flex(row, 0, 12px, center);
        display: flex;
        flex-direction: row;
        gap: 0;
        align-items: center;
        justify-content: flex-start;
    }
}

.buttons {
    // @include flex(row, 0, 12px, center);
    display: flex;
    flex-direction: row;
    gap: 0 12px;
    align-items: center;
    justify-content: flex-start;
}
