.header {
  display: flex;
  flex-direction: row;
  gap: 24px 24px;
  align-items: center;
  justify-content: flex-start;

  .dots {
    display: grid;
    place-items: center;

    width: 24px;
    height: 24px;

    color: var(--color-light-100);
  }

  .selectBlock {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0 12px;
  align-items: center;
  justify-content: flex-start;
}
