.decksPageBlock {
  .header {
    // сверху-снизу-96, а по горизонтали выравниваем
    margin: 96px auto 36px;
    padding: 15px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    gap: 24px 24px;
    align-items: center;
    justify-content: center;

    margin-top: 64px;
  }
}
