.decksPageBlock {
  .header {
    // сверху-снизу-96, а по горизонтали выравниваем
    margin: 36px auto;
    padding: 15px;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    gap: 24px 115px;
    align-items: center;
    justify-content: center;
  }
}
