.dropdownMenuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-height: 25px;
    margin-top: 0.75rem;

    border-radius: 3px;
    outline-color: transparent;
}
