.layout_container {
    max-width: 1010px;
    margin: 0 auto;

    // задает отступы в блочном направлении (вертикальные отступы) для элемента
    // Верхний отступ (block-start): 96 пикселей. Нижний отступ (block-end): 30 пикселей.
    padding-inline: 12px;
}
